.wallet_box_provider {
  justify-content: center;
  overflow: hidden;

}
.wallet_box_provider_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #263238;
 margin-left: .5rem;
 margin-right: .5rem;
}
.wallet_box_provider_item_img{
  border-radius: 30%;
}
.wallet_box_provider_item p {
 font-weight: 520;
 color: white;
  font-size: 1rem;
  line-height: 0;
}
