/* Updated Slider CSS */

.slider_box {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 2rem;
}

.slider_box_left {
  grid-column: 1 / span 7;
  background-color: rgb(99, 78, 78);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem;
}

.slider_box_left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.slider_box_left_collection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slider_box_left_collection_icon {
  font-size: 2rem;
}

.slider_box_left_bidding_box {
  border: 3px solid rgb(66, 49, 49);
  padding: 1rem;
  border-radius: 0.5rem;
}

.slider_box_right {
  grid-column: 7 / -1;
  padding: 1rem;
  background-color: rgb(99, 78, 78);
  border-radius: 2.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slider_box_right_img {
  border-radius: 2rem;
  width: 100%;
}
.slider_box_left_collection_info h4{
  font-weight: 700;
}

@media screen and (max-width: 65em) {
  .slider_box {
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  .slider_box_left {
    grid-column: 1 / -1;
  }

  .slider_box_right {
    grid-column: 1 / -1;
    margin-top: 2rem;
  }
}
