/* Updated Slider CSS */

.slider_box {
  margin: 0 auto;
  width: 80%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 2rem;
}

.slider_box_left {
  grid-column: 1 / -1; /* Modified to span across all columns */
  border: 2px solid rgba(255, 255, 255, 0.336);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  transform: translate3d(0, 0, 0);
  z-index:1;
  margin-top: 10rem; /* Added margin-top to create space */
  grid-row: 2; /* Added to make the box left appear below */
  background: radial-gradient(
    700px circle at 132px 64px, rgba(255, 255, 255, 0.699), transparent 25%
  );
}
.slider_box_left .shadow {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 0; /* Set a lower z-index than the modal */
}

.slider_box_left h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.verlogo{
  color: #ffffffd5;
  margin: .25rem;
}
.slider_box_left_collection {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ffffffd5;
}

.slider_box_left_collection_icon {
  font-size: 2rem;
}

.slider_box_left_bidding_box {
  border: 3px solid hsla(0, 0%, 100%, 0.616);
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  color: #ffffffd5;
  
}
.slider_box_left_bidding_box p {
  font-weight: 500;
}
.slider_box_right {
  grid-column: 1 / span 7; /* Modified to span 7 columns */
  padding: 1rem;
  margin-top: -1rem;
  background-color: #37474F;
  border-radius: 2.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index:0;
}

.slider_box_right_img {
  border-radius: 2rem;
  width: 100%;
}

.slider_box_left_collection_info h4 {
  font-weight: 700;
}

@media screen and (max-width: 65em) {
  .slider_box {
    padding: 1rem;
    grid-template-columns: 1fr;
    width: 90%;
    padding-top: 3rem;
    gap: 1rem;
  }

  .slider_box_left,
  .slider_box_right {
    grid-column: 1 / -1; /* Modified to span across all columns */
  }

  .slider_box_left {
    margin-top: -4.46rem; /* Added margin-top to create space */
  }
}
