/* Updated Slider CSS */
.border_svg {
  margin: 2rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.slider_box_left {
  margin-top: -150%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  width: 100%;
  height: 70vh;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  grid-row: 2;
}

.slider_box_left h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.verlogo {
  color: #ffffffd5;
  margin: 0.4rem;
  padding-top: 0.2rem;
  font-size: 1.3rem;
}

.slider_box_left_collection_info {
  gap: 0.5rem;
  color: #ffffffd5;
  overflow: visible;
  margin-right: -2.3rem;
}
.slider_box_left_collection {
  margin-top: -1.7rem;
  grid-column: span 3;
  grid-column-start: 2;
  font-size: 0.7rem;
}
.slider_box_left_title {
  grid-column: span 4;
  grid-row: 3;
  font-weight: 600;
}
.slider_box_left_bidding {
  grid-column: span 4;
  grid-row: 4;
}
.slider_box_left_bidding_box {
  border: 3px solid hsla(0, 0%, 100%, 0.616);
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  color: #ffffffd5;
}

.slider_box_left_bidding_box p {
  font-weight: 500;
}
.svg_div {
  margin-top: -100%;
}
.slider_box_right {
  padding: 7%;
  margin-top: 1rem;
}

.slider_box_right_img {
  border-radius: 1rem;
  width: 100%;
}

.slider_box_left_collection_info h4 {
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (max-width: 65em) {
  .slider_box {
    padding: 5rem;
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    padding-top: 3rem;
    gap: 1rem;
  }

  .slider_box_left,
  .slider_box_right {
    grid-column: 1 / -1;
  }
}
