.border_svg{
  border: 2px solid rgba(255, 255, 255, 0.336);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: radial-gradient(
    700px circle at 132px 64px, #ffffffb2, transparent 25%
  );
}
.card_box {
    background-color: rgba(255, 255, 255, 0.336);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
    width: 50%;
  }
  
  .card_box_left1 {
    
    border: 2px solid rgba(255, 255, 255, 0.336);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 10rem; /* Added margin-top to create space */
    background: radial-gradient(
      700px circle at 132px 64px, rgba(255, 255, 255, 0.699), transparent 25%
    );
  }
  
  .card_box_left h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
  }
  .verlogo{
    color: #ffffffd5;
    margin: .25rem;
  }
  .card_box_left_collection {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom-left-radius: 1rem;
    margin-top: -18rem;
    margin-left: 10rem;
    color: #ffffffd5;
    transform: skewX(45deg);
    background-color: rgba(255, 255, 255, 0.521);
  }

  
  .card_box_left_collection_icon {
    font-size: 2rem;
  }
  
  .card_box_left_bidding_box {
    border: 3px solid hsla(0, 0%, 100%, 0.616);
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    color: #ffffffd5;
    
  }
  .card_box_left_bidding_box p {
    font-weight: 500;
  }
  .card_box_right {
   /* Modified to span 7 columns */
    padding: 1rem;
    background-color: #37474F;
    border-radius: 2.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .card_box_right_img {
    border-radius: 2rem;
    width: 100%;
  }
  
  .card_box_left_collection_info h4 {
    font-weight: 700;
  }
  .card_box_left_collection_info p {
    font-weight: 500;
  }
  .card_box_left_collection_info{
    transform: skewX(-45deg);
  }
  @media screen and (max-width: 65em) {
    .card_box {
        align-items: center;
      padding: 4rem;
      grid-template-columns: 1fr;
      width: 90%;
      padding: 2rem;
      gap: 1rem;
      margin: 3rem;
    }
  
    .card_box_left,
    .card_box_right {
      grid-column: 1 / -1; /* Modified to span across all columns */
    }
  
  }
  