
.card{
  display: flex;
  margin-top: -35%;
  align-items: center;
  justify-content: center;
}
.slider_box_left {
  margin-top: -150%;
  background: rgba(128, 128, 128, 0.411);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  grid-row: 2;
}

.slider_box_left h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.verlogo {
  color: #263238;
  margin: 0.2rem;
  padding-top: 0.2rem;
  font-size: 1.3rem;
}

.slider_box_left_collection_info {
  gap: 0.5rem;
  color: #263238;
  overflow: visible;
  margin-left: 57%;
}
.slider_box_left_collection_info p {
margin-left: -20%;
}
.slider_box_left_collection {
  margin-top: -147%;
  font-size: 0.7rem;
}
.slider_box_left_title {
  color: #263238 ;
  white-space: nowrap;
  width: 100%;
  margin: 1.5rem;
  margin-top: 72%;
  font-weight: 600;
  font-size: 1.3rem;
}
.slider_box_left_bidding_box {
  margin: 1.4rem;
  margin-top: -12%;
  display: relative;
  border: 3px solid hsla(0, 0%, 100%, 0.616);
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  color: #263238;
  white-space: nowrap;
}
.slider_box_left_bidding_box p {
  font-weight: 600;
}
.svg_div {
  margin-top: -100%;
}
.slider_box_right {
  padding: 7%;
  margin-top: 1rem;
}
.slider_box_right_box {
  padding-top: 100%;
}

.slider_box_right_img {
  border-radius: 1rem;
  width: 100%;
}

.slider_box_left_collection_info h4 {
  font-weight: 700;
  font-size: 5vw;
  margin-top: -.5rem;
}

@media screen and (max-width: 65em) {
  .slider_box {
    padding: 5rem;
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    padding-top: 3rem;
    gap: .5rem;
  }

  .slider_box_left,
  .slider_box_right {
    grid-column: 1 / -1;
  }
}
